/* crimson-text-regular - latin */
@font-face {
    font-family: "Crimson Text";
    font-style: normal;
    font-weight: 400;
    src: local("Crimson Text Regular"), local("CrimsonText-Regular"),
        url("../fonts/crimson-text-v8-latin-regular.woff2") format("woff2"),
        url("../fonts/crimson-text-v8-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* work-sans-800 - latin */
@font-face {
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 800;
    src: local("Work Sans ExtraBold"), local("WorkSans-ExtraBold"),
        url("../fonts/work-sans-v3-latin-800.woff2") format("woff2"),
        url("../fonts/work-sans-v3-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.blog-post {
    padding: 0 1rem;
}
.content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 50rem;
}
.heading {
    font-family: "Work Sans";
}
body {
    background-color: white;
    font-family: "Crimson Text";
}
a {
    color: rebeccapurple;
}
a:visited {
    text-decoration: line-through;
}
.color {
    background-color: rebeccapurple;
}
.gatsby-highlight pre {
    overflow-x: scroll;
    white-space: pre-wrap !important;
    /* width: 100%; */
}
.nav-column {
    display: none;
}
.heading.nav-column {
    display: inherit;
}
@media screen and (min-width: 40rem) {
    .nav-column {
        display: block;
        flex: 1;
    }
}
.gutter {
    display: none;
}
@media screen and (min-width: 40rem) {
    .gutter {
        display: inherit;
        width: 1rem;
    }
}
.blog-posts {
    padding: 0 1rem;
}
@media screen and (min-width: 40rem) {
    .blog-posts {
        padding: inherit;
    }
}
