nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    padding: 0.25rem;
}

.primary {
    background-color: rebeccapurple;
    display: block;
}
.primary:hover {
    background-color: white;
}
.primary a {
    color: white;
}
.primary:hover a {
    color: rebeccapurple;
}
